/* CSS Document */

header {
	width: 100%;
	height: 125px;
	background-color: #402F13;
	position: fixed;
	z-index: 1000;
	
}

.logo {
	width: 100%;
	height: 35px;
	background: url("../images/logo.svg") no-repeat;
	margin:25px 80px;
	
}



nav {float:inherit;
	width: 100%;

}

nav ul { 
	
    list-style-type:inherit;
	float: inherit;
	margin: 20px 30px;
	
	
}

nav li {
	display: inline-block;
	font-size: .8em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-left: 19px;
	cursor: pointer;
	position: relative;
	padding-top: 8px;
}

nav li a{
	text-decoration: none;
	color: #ffffff;
}
nav li a:hover{
	color: #805F26;
}
.navigationbar {
	background-color: #AF8B4D;
	width: 100%;
	align-self: center;
	height: 40px;
	position:absolute;
	float:inherit;
}


/* Hero Image */

.hero-image {
	width: 100%;
	height: 580px;
	background-image: url("../images/alcazardecolon.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-headline {
color: #402F13;
text-transform: uppercase;
}



/* Introduction */

.introduction {
	width: 100%;
	padding: 10px 0;
	background-color: #ffffff;
	
}
.intro-body{
	color: #402F13;
}

	
/* Historical Monuments */
.monuments-header{
	text-transform: uppercase;
	text-align: center;
}
.mon-description {
	text-align: center;
}
.monuments{
	margin-top: 100px;
}

.monuments2{
	margin-bottom: 100px;
}
.mon-description, .monuments-header{
	align-text:center;
	color: #402F13
}
.mon1,.mon2, .mon3, .mon4{
	text-align: center;
	color: #805F26;
}

.mon-body{
	color: #402F13;
}




/* culture */
.culture{
	margin-top:100px;
	background-color: #ffffff;
}
.cul-pic {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.culture-header {
	text-transform: uppercase;
	text-align: center;
}

.cul-body {
	color: #402F13;
}
.cul-body2 {
	padding-bottom: 50px;
}



/*attractions */




.attractions{
	width: 100%;
	padding: 50px 0 50px 0;
	background-color: #ffffff;	
}

.attractions-box {
	background-color: #AF8B4D;
	height: 700px;
}
.attractions-head{
	text-align: center;
	text-transform: uppercase;
	
}
.attractions-text {
	padding: 10px 20px;
	text-align: center;
}
.attractions-caption{
	color: #ffffff;
	font-size: 300;
}
.solid-btn2 {
	margin-top: 23px;
}

.solid-btn3{
	margin-top: 47px;
}



/* location */
.location{
	background-color: #ffffff;
	padding: 50px 0 0px 0;
	
}
.location-head{
	text-align: center;
	text-transform: uppercase;
	
}

.location-description{
	text-align: center;
}

.map-pic {
	padding-bottom: 50px;
}




/* testimonials */

.testimonials {
	background-color: #D6B16F;
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.testimonials img{
	padding-right: 20px;
	padding-bottom: 20px;
}
.testimonials-head{
	text-align: center;
	text-transform: uppercase;
}

.testimonials-subhead, .test-copy {
	text-decoration-color: #402F13;
}

.test-copy{
color: #402f13;
left: -20px;
}

.test-names{
color: #402f13;	
}





/* gallery */
.gallery{
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 20px;
}

.gallery-head{
	text-align: center;
	text-transform: uppercase;
}

.gallery2 {
	padding-bottom: 130px;
}








/* Videos*/

.videos{
	background-color: #AF8B4D;
	padding: 100px 0;
}
.videos-head{
	text-transform: uppercase;
	text-align: center;
	color: #402F13;
}
.video-title{
	color: #ffffff;
	text-align: center;
}
.videos-description{
	text-align: center;
	color: #402F13;
}


/* About Unesco*/
.about{
	background-color: #ffffff;
	padding: 100px 0;
}

.about-head {
	text-align: center;
	text-transform: uppercase;
}

.our-vision{
	text-transform: uppercase;
}

.about-copy {
	color: #402F13;
}







/* About Unesco*/

.about-unesco {
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
	
}







/* Locations */

.location{
	margin-top: 100px;
	width: 100%;
	padding: 5px 0;
	background-color: #ffffff;
}
.map-pic {
	margin-bottom: 80px;
}
.map-pic img{
	padding-bottom: 20px;
}
.solid-btn {

}



/* Sign up */

.signup {
	width: 100%;
	padding: 80px 0;
	background-color: #D6B16F;
}
.signup-head{
	text-align: center;
	text-transform: uppercase;
}
.signup-description{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}


.email-form input[type="text"],
.email-form input[type="email"],
.email-form textarea,
.email-form select {
	width: 620px;
	height: 40px;
	padding-right: 80px;
	box-sizing: content-box;
	resize: vertical;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	display: inline-block;
	border: none;
  
}

.solid-button-email{
float: right;
}













/* Footer */

footer {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: #402f13;
	}

.copyright {
	width: 100%;
	color: #959595;
	}

.copyright p {
	margin-bottom: 0;
}

.fa-facebook-square, 
.fa-twitter-square,
.fa-linkedin {
	font-size: 2em;
	margin: 20px 5px 0px 5px;
}

footer a:link {
	color: #959595;
	text-decoration: none;
}

footer a:visited {
	color: #959595;
	text-decoration: none;
}

footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

footer a:active {
    color: #ffffff;
	text-decoration: underline;	
}














