/* CSS Document */

header {
	width: 100%;
	height: 125px;
	background-color: #402F13;
	position: fixed;
	z-index: 1000;
	
}

.logo {
	width: 100%;
	height: 35px;
	background: url("../images/logo.svg") no-repeat;
	margin:25px 80px;
	
}



nav {float:inherit;
	width: 100%;

}
nav ul { 
	background-color: #AF8B4D;
	width: 100%;
	height: 40px;
    list-style-type:inherit;
	float: inherit;
	margin: 20px 30px;
}

nav li {
	display: inline-block;
	font-size: .8em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-left: 20px;
	cursor: pointer;
}



/* Hero Image */

.hero-image {
	width: 100%;
	height: 580px;
	background-image: url("../images/alcazardecolon.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-headline {
color: #402F13;
text-transform: uppercase;
}



/* Introduction */

.introduction {
	width: 100%;
	padding: 10px 0;
	background-color: #ffffff;
	
}


	
/* Historical Monuments */
.monuments-header{
	text-transform: uppercase;
	text-align: center;
}
.mon-description {
	text-align: center;
}
.monuments{
	margin-top: 100px;
}

.monuments2{
	margin-bottom: 100px;
}
.mon-description, .monuments-header{
	align-text:center;
	color: #402F13
}
.mon1,.mon2, .mon3, .mon4{
	text-align: center;
	color: #805F26;
}






/* culture */
.culture{
	margin:100px 0 ;
	background-color: #ffffff;
}
.culture img {
	width: 100%;
	padding-bottom: 20px;
}

.culture-header {
	text-transform: uppercase;
	text-align: center;
}




/*attractions */




.attractions{
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;	
}

.attractions-box {
	background-color: #AF8B4D;
}
.attractions-head{
	text-align: center;
	text-transform: uppercase;
	
}
.attractions-text {
	padding: 10px 20px;
	text-align: center;
}



.project-link{
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: .09em;
	font-weight: 600;
	text-decoration: none;
	
}


/* location */
.location{
	background-color: #ffffff;
	margin: 100px 0;
	
}
.location-head{
	text-align: center;
	text-transform: uppercase;
	
}

.location-description{
	text-align: center;
}





/* testimonials */

.testimonials {
	background-color: #D6B16F;
	margin: 150px 0;
	
}
.testimonials-head{
	text-align: center;
	text-transform: uppercase;
}

.testimonials-subhead, .testimonials-copy {
	text-decoration-color: #402F13;
}


/* gallery */
.gallery{
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 20px;
}

.gallery-head{
	text-align: center;
	text-transform: uppercase;
}

.gallery2 {
	padding-bottom: 100px;
}

/* Videos*/

.videos{
	background-color: #AF8B4D;
	padding: 100px 0;
}
.videos-head{
	text-transform: uppercase;
	text-align: center;
	color: #402F13;
}
.video-title{
	color: #ffffff;
	text-align: center;
}
.videos-description{
	text-align: center;
	color: #402F13;
}


/* About Unesco*/
.about{
	background-color: #ffffff;
	padding: 100px 0;
}

.about-head {
	text-align: center;
	text-transform: uppercase;
}

.our-vision{
	text-transform: uppercase;
}








/* About */

.about {
	width: 100%;
	padding: 100px 0;
	background-color: #efefef;
	
}







/* Locations */

.Locations{
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
}




/* Sign up */

.signup {
	width: 100%;
	padding: 80px 0;
	background-color: #D6B16F;
}
.signup-head{
	text-align: center;
	text-transform: uppercase;
}
.signup-description{
	color: #ffffff;
	text-align: center;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
	width: 960px;
	height: 40px;
	margin-bottom: 20px;
	color: #FFFFFF;
}

.contact-form textarea {
	height: 200px;
}

/* Footer */

footer {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background-color: #3c3c3c;
	}

.copyright {
	width: 100%;
	color: #959595;
	}

.copyright p {
	margin-bottom: 0;
}

.fa-facebook-square, 
.fa-twitter-square,
.fa-linkedin {
	font-size: 2em;
	margin: 20px 5px 0px 5px;
}

footer a:link {
	color: #959595;
	text-decoration: none;
}

footer a:visited {
	color: #959595;
	text-decoration: none;
}

footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

footer a:active {
    color: #ffffff;
	text-decoration: underline;	
}














