/* CSS Document */

header {
	width: 100%;
	height: 120px;
	background-color: #402F13;
	position: fixed;
	z-index: 1000;
	
}

.logo {
	text-transform: uppercase;
	text-align: center;
	color: #ffffff; 
	padding-top: 10px;
	

	
}



nav {
	
	

}

nav ul { 
	
    list-style-type:inherit;
	margin: 8px 30px;
	
	
}

nav li {
	display: inline-block;
	font-size: .8em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-left: 19px;
	cursor: pointer;
	position: relative;
	text-align: justify;
	
}


nav li a{
	text-decoration: none;
	color: #ffffff;
}
nav li a:hover{
	color: #805F26;
}
.navigationbar {
	background-color: #AF8B4D;
	width: 100%;
	height: 40px;
	position:absolute;
	float:inherit;
	

}


/* Hero Image */

.hero-image {
	width: 100%;
	height: 580px;
	background-image: url("../images/alcazardecolon.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-headline {
color: #402F13;
text-transform: uppercase;
}



/* Introduction */

.introduction {
	width: 100%;
	padding: 10px 0;
	background-color: #ffffff;
	
}
.intro-body{
	color: #402F13;
}

	
/* Historical Monuments */
.monuments-header{
	text-transform: uppercase;
	text-align: center;
}
.mon-description {
	text-align: center;
}
.monuments{
	margin-top: 100px;
}

.monuments2{
	margin-bottom: 100px;
}
.mon-description, .monuments-header{
	align-text:center;
	color: #402F13
}
.mon1,.mon2, .mon3, .mon4{
	text-align: center;
	color: #805F26;
}

.mon-body{
	color: #402F13;
}




/* culture */
.culture{
	margin-top:100px;
	background-color: #ffffff;
}
.cul-pic {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.culture-header {
	text-transform: uppercase;
	text-align: center;
}

.cul-body {
	color: #402F13;
}
.cul-body2 {
	padding-bottom: 50px;
}



/*attractions */




.attractions{
	width: 100%;
	padding: 50px 0 50px 0;
	background-color: #ffffff;	
}

.attractions-box {
	background-color: #AF8B4D;
	height: 700px;
}
.attractions-head{
	text-align: center;
	text-transform: uppercase;
	
}
.attractions-text {
	padding: 10px 20px;
	text-align: center;
}
.attractions-caption{
	color: #ffffff;
	font-size: 300;
}
.solid-btn2 {
	margin-top: 24px;
}

.solid-btn3{
	margin-top: 48px;
}



/* location */



.location{
	margin-top: 100px;
	width: 100%;
	padding: 5px 0;
	background-color: #ffffff;
}

.location-head{
	text-align: center;
	text-transform: uppercase;
	
}

.location-description{
	text-align: center;
}

.solid-btn-map{
	margin: 0 379px;
	margin-bottom: 5px;
}







/* testimonials */

.testimonials {
	background-color: #D6B16F;
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.testimonials img{
	padding-right: 20px;
	padding-bottom: 20px;
}
.testimonials-head{
	text-align: center;
	text-transform: uppercase;
}

.testimonials-subhead, .test-copy {
	text-decoration-color: #402F13;
}

.test-copy{
color: #402f13;
left: -20px;
}

.test-names{
color: #402f13;	
}





/* gallery */
.gallery{
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 20px;
}

.gallery-head{
	text-align: center;
	text-transform: uppercase;
}

.gallery2 {
	padding-bottom: 130px;
}








/* Videos*/

.videos{
	background-color: #AF8B4D;
	padding: 100px 0;
}
.videos-head{
	text-transform: uppercase;
	text-align: center;
	color: #402F13;
}
.video-title{
	color: #ffffff;
	text-align: center;
}
.videos-description{
	text-align: center;
	color: #402F13;
}


/* About Unesco*/
.about-unesco {
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
	
}

.about-head {
	text-align: center;
	text-transform: uppercase;
	color: #402F13;
}

.our-vision{
	text-transform: uppercase;
}

.about-copy {
	color: #402F13;
}





/* Sign up */

.signup {
	width: 100%;
	padding: 80px 0;
	background-color: #D6B16F;
}
.signup-head{
	text-align: center;
	text-transform: uppercase;
	color: #402F13;
}
.signup-description{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
}


.email-form input[type="text"],
.email-form input[type="email"],
.email-form textarea,
.email-form select {
	width: 100%;
	height: 40px;
	margin-left: 80px;
	box-sizing: content-box;
	background-color: #FFFFFF;
	border: none;
	 text-indent: 20px;

}



.solid-btn-email {
	display: inline-block;
	margin-left: 100px;

}













/* Footer */

footer {
	width: 100%;
	padding: 50px 0;
	background-color: #402f13;
	}


.footer-list{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: .2em;
}


.footer-head{
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	
}


.copyright {
	width: 100%;
	color: #ffffff;
	text-transform: uppercase;
	}

.copyright p {
	margin-bottom: 0;
}
.copyright-end{
	font-size: .2em;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
}

.fa-facebook-square, 
.fa-twitter-square,
.fa-instagram-square,
.fa-envelope-square,
.fa-share-alt-square{
	
	font-size: 1.5em;
	margin: 0px 5px 0px 5px;
	text-align: center;
	
}


.icons {
	height: 52px;
	width: 100%;
	text-align: center;
	float: left;
	padding-top: 30px;
}

.logo-footer {
	width: 220px;
	height: 70px;
	float: right;
	background: url("../images/unesco-logo.png") no-repeat;
	
}
footer a:link {
	color: #ffffff;
	text-decoration: none;
}

footer a:visited {
	color: #ffffff;
	text-decoration: none;
}

footer a:hover {
	color: #D6B16F;
	text-decoration: underline;
}

footer a:active {
    color: #D6B16F;
	text-decoration: underline;	
}














